:root {
  --jpltyp-color-warn: var(--jp-warn-color1);
  --jpltyp-color-error: var(--jp-error-color1);
  --jpltyp-color-info: var(--jp-info-color1);
  --jpltyp-color-hint: var(--jp-accent-color1);
  --jpltyp-border-radius: var(--jp-ui-font-size0);
}

.CodeMirror-gutter-elt .CodeMirror-lint-marker-error,
.CodeMirror-gutter-elt .CodeMirror-lint-message-error,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-error,
.CodeMirror-gutter-elt .CodeMirror-lint-marker-warning,
.CodeMirror-gutter-elt .CodeMirror-lint-message-warning,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-warning,
.CodeMirror-gutter-elt .CodeMirror-lint-marker-information,
.CodeMirror-gutter-elt .CodeMirror-lint-message-information,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-hint,
.CodeMirror-gutter-elt .CodeMirror-lint-marker-hint,
.CodeMirror-gutter-elt .CodeMirror-lint-message-hint,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-hint {
  background: none;
  background-color: var(--jpltyp-color-warn);
  opacity: 0.5;
  transition: opacity 0.2s;
  border-radius: var(--jpltyp-border-radius);
  max-height: var(--jpltyp-border-radius);
  max-width: var(--jpltyp-border-radius);
  margin-left: calc(var(--jpltyp-border-radius) / 4);
}

.CodeMirror-gutter-elt .CodeMirror-lint-marker-error,
.CodeMirror-gutter-elt .CodeMirror-lint-message-error,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-error {
  background-color: var(--jpltyp-color-error);
}

.CodeMirror-gutter-elt .CodeMirror-lint-marker-information,
.CodeMirror-gutter-elt .CodeMirror-lint-message-information,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-information {
  background-color: var(--jpltyp-color-info);
}

.CodeMirror-gutter-elt .CodeMirror-lint-marker-hint,
.CodeMirror-gutter-elt .CodeMirror-lint-message-hint,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-hint {
  background-color: var(--jpltyp-color-hint);
}

.CodeMirror-gutter-elt .CodeMirror-lint-marker-error:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-message-error:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-error:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-marker-warning:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-message-warning:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-warning:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-marker-information:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-message-information:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-information:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-marker-hint:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-message-hint:hover,
.CodeMirror-gutter-elt .CodeMirror-lint-mark-hint:hover {
  opacity: 0.9;
  transition: opacity 0.2s;
}

.CodeMirror-gutter-elt .CodeMirror-lint-markers {
  opacity: 0.5;
}

.CodeMirror-line .CodeMirror-lint-marker-error,
.CodeMirror-line .CodeMirror-lint-message-error,
.CodeMirror-line .CodeMirror-lint-mark-error {
  background: none;
  border-bottom: solid 2px var(--jpltyp-color-error);
}

.CodeMirror-line .CodeMirror-lint-marker-warning,
.CodeMirror-line .CodeMirror-lint-message-warning,
.CodeMirror-line .CodeMirror-lint-mark-warning {
  background: none;
  border-bottom: solid 2px var(--jpltyp-color-warn);
}

.CodeMirror-line .CodeMirror-lint-marker-information,
.CodeMirror-line .CodeMirror-lint-message-information,
.CodeMirror-line .CodeMirror-lint-mark-information {
  background: none;
  border-bottom: solid 2px var(--jpltyp-color-info);
}

.CodeMirror-line .CodeMirror-lint-marker-hint,
.CodeMirror-line .CodeMirror-lint-message-hint,
.CodeMirror-line .CodeMirror-lint-mark-hint {
  background: none;
  border-bottom: solid 2px var(--jpltyp-color-hint);
}

.jp-LintoType-CodeAction {
  background-color: transparent;
  border: solid 1px transparent;
  color: var(--jpltyp-color-info);
  border-radius: var(--jpltyp-border-radius);
  padding: calc(var(--jpltyp-border-radius) / 4) var(--jpltyp-border-radius);
  font-size: var(--jp-ui-font-size0);
  opacity: 0.5;
  text-transform: uppercase;
  float: right;
}

.jp-LintoType-CodeAction:hover,
.jp-LintoType-CodeAction:focus {
  border: solid 1px var(--jpltyp-color-info);
  opacity: 0.9;
}
